<ion-header>
  <ion-toolbar>
    <ion-title>detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="chosenItem">
    <ion-img src="../../assets/starwarslogo.png"></ion-img>
    <ion-card-header>
      <ion-card-title> {{ chosenItem.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>Hair Color: {{ chosenItem.hair_color }}</ion-item>
        <ion-item>Height: {{ chosenItem.height }}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
