<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/master-list"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div *ngIf="chosenItem">
        {{ chosenItem.name }}
      </div>
      <div *ngIf="!chosenItem">
        Loading details...
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="chosenItem">
    <ion-img width="100" height="80" src="../../assets/starwarslogo.png"></ion-img>
    <ion-card-header>
      <ion-card-title [ngStyle]="{'font-size': '13vw'}"> {{ chosenItem.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>Hair Color: {{ chosenItem.hair_color }}</ion-item>
        <ion-item>Height: {{ chosenItem.height }}</ion-item>
        <ion-item>Skin Color: {{ chosenItem.skin_color }}</ion-item>
        <ion-item>Eye Color: {{ chosenItem.eye_color }}</ion-item>
        <ion-item>Birth Year: {{ chosenItem.birth_year }}</ion-item>
        <ion-item>Gender: {{ chosenItem.gender }}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
